

.navName{
font-size: 100px;
font-weight: bolder;
color: rgb(125, 230, 195);
font-family: 'Bangers', cursive;
margin-top: 20px;
}

.header{
  /* background-color: rgb(179, 240, 240); */
  margin-left: 100px;
  margin-right: -150px;
  margin-top: 50px;
  font-family: 'Dancing Script', cursive;
  font-size: 85px; 
  background-color: #ffffff;
  padding-top: 130px;
  padding-bottom: 130px;
}






 