.logo{
font-size: 50px;
font-weight: bolder;
text-align:center;

}

.header{
  /* background-color: rgb(179, 240, 240); */
  margin-left: 100px;
  margin-right: -150px;
  margin-top: 150px;
 
}
.headerPhrase{
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
  margin: 40px;
  
}




 